{%- from "gerrit/map.jinja" import server with context %}
# This file is managed by salt.

{%- for rule_name, rule in server.get('rule', {}).iteritems() %}

[rule "{{ rule_name }}"]
  action = {{ rule.action }}
  {%- if rule.event_type is defined %}
  event-type = {{ rule.event_type }}
  {%- endif %}
  {%- if rule.labels is defined %}
  {%- for label in rule.labels %}
  {{ label.name }} = {{ label.approvals }}
  {%- endfor %}
  {%- endif %}

{%- endfor %}