{%- from "gerrit/map.jinja" import server with context %}
# This file is managed by salt.
{%- for remote_host, replication in server.get('replication', {}).iteritems() %}
[remote "{{ remote_host }}"]
  url = {{ replication.remote_url }}/git/${name}.git
  push = +refs/*:refs/*
  threads = 3
  defaultForceUpdate = false
  replicatePermissions = true
{%- endfor%}
