{%- from "gerrit/map.jinja" import server with context %}
# This file is managed by salt.

{%- if server.database.engine != 'h2' %}
[database]
    password = {{ server.database.password }}
{%- endif %}
[auth]
    registerEmailPrivateKey = {{ server.email_private_key }}
    restTokenPrivateKey = {{ server.token_private_key }}

{%- for plugin_name, plugin in server.get('plugin', {}).iteritems() %}
{%- if plugin.password is defined %}

[{{ plugin_name }}]
    password = {{ plugin.password }}

{%- endif %}
{%- endfor %}
