{%- from "gerrit/map.jinja" import server with context %}
# This file is managed by salt.

[database]
	password = {{ server.database.password }}

[auth]
	registerEmailPrivateKey = {{ server.email_private_key }}
	restTokenPrivateKey = {{ server.token_private_key }}

{%- for plugin_name, plugin in server.get('plugin', {}).iteritems() %}

[{{ plugin_name }}]
	password = {{ plugin.password }}

{%- endfor %}
