
{%- load_yaml as server_defaults %}
Debian:
  pkgs:
  - unzip
  - gitweb
  dir:
    home: "/srv/gerrit"
    site: "/srv/gerrit/review_site"
  service: gerrit
  reindex_threads: 1
{%- endload %}

{%- set server = salt['grains.filter_by'](server_defaults, merge=salt['pillar.get']('gerrit:server')) %}

{%- load_yaml as client_defaults %}
{% set project_config = pillar.gerrit.get('client', {}).get('dir', {}).get('project_config', '/srv/jeepyb') %}
Debian:
  homepage: "http://domain.com/"
  source:
    engine: pkg
    pkgs:
    - python-gerritlib
    - python-pygerrit
    - jeepyb
    - curl
  dir:
    project_config: {{ project_config }}
    base: /usr/share/jeepyb
    acls: {{ project_config }}/acls
    git: /srv/jeepyb/git
    cache: {{ project_config }}/cache
    gerrit_config: /home/gerrit2/review_site/etc/gerrit.config
    gerrit_secure_config: /home/gerrit2/review_site/etc/secure.config
  config:
    key: /var/cache/salt/minion/gerrit_rsa
{%- endload %}

{%- set client = salt['grains.filter_by'](client_defaults, merge=salt['pillar.get']('gerrit:client')) %}
