
{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - unzip
  - gitweb
  dir:
    home: "/srv/gerrit2"
    site: "/srv/gerrit2/review_site"
  service: gerrit
  reindex_threads: 1
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('gerrit:server')) %}
