Source: salt-formula-gerrit
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-gerrit
Vcs-Git: https://github.com/tcpcloud/salt-formula-gerrit.git

Package: salt-formula-gerrit
Architecture: all
Depends: ${misc:Depends}
Description: gerrit salt formula
 Install and configure gerrit system.
